.title_contatos{
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: 'Futura Display', sans-serif;
    letter-spacing: 1px;
    margin: 50px 0px;

    animation: aparicao 1s forwards;
}

.main_contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.section_contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.midia{
    text-align: center;
    font-size: 32px;
    color: white;
    font-family: 'Futura Display', sans-serif;
    width: 80%;
    margin-bottom: 40px;

    animation: aparicao 1s forwards;
}

.midia p, .link_social{
    margin-bottom: 25px;
    color: white;
}

.hr{
    background-image: linear-gradient(to right, transparent, white, transparent);
    height: 3px; /* altura da linha */
    border: none; /* remova a borda padrão */
    margin: 10px 0; /* margem superior e inferior para espaçamento */   
}   

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon img{
    width: 48px;
    height: 48px;
    border-radius: 0px;
}

/* responsividade para computador grande */
@media screen and (min-width: 1650px){
    .title_contatos{
        font-size: 80px;
    }

    .midia{
        font-size: 52px;
    }

}

/* responsividade para celular */
@media screen and (max-width: 600px){
    .title_contatos{
        font-size: 40px;
    }

    .midia, .title_contatos{
        animation: celular 1s forwards;
    }
}