* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url("../imgs/fundo_carro.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Cobrir 100% da largura e altura do corpo */
    background-attachment: fixed;
}


@font-face {
    font-family: 'barosa regular';
    src: url('../fonts/Barosa\ Regular.otf') format('otf');  

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Display';
    src: url('../fonts/Futura\ Display.ttf') format('ttf');
    /* Adicione outras variações e formatos de fonte, se necessário */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sauce Sans';
    src: url('../fonts/OpenSauceSans-Regular.ttf') format('ttf');
    /* Adicione outras variações e formatos de fonte, se necessário */
    font-weight: normal;
    font-style: normal;
}

