* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url("../imgs/fundo_carro.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Cobrir 100% da largura e altura do corpo */
    background-attachment: fixed;

    height: 100vh;
}

/* animação */
@keyframes aparicao {
    0% {opacity: 0; transform: translate(0px, 0px)}     /* dentro do @keyframes temos que colocar o  tempo e depois a propriedade */
    100% {opacity: 1; transform: translate(20px, 0px)}
}   

/* animação home*/
@keyframes aparicao-home1 {
    0% {opacity: 0; transform: translate(0px, 0px)}     /* dentro do @keyframes temos que colocar o  tempo e depois a propriedade */
    100% {opacity: 1; transform: translate(0px, 40px)}
} 

@keyframes aparicao-home2 {
    0% {opacity: 0; transform: translate(0px, 0px)}  
    50% {opacity: 0; transform: translate(0px, 40px)}  
    100% {opacity: 1; transform: translate(0px, 0px)}
}

/* animação celular */
@keyframes celular {
    0% {opacity: 0; transform: translate(0px, 0px)}     /* dentro do @keyframes temos que colocar o  tempo e depois a propriedade */
    100% {opacity: 1; transform: translate(auto, 0px)}
}   

/* midia query */

@media screen and (max-width: 600px) {
    body {
        background-image: url("../imgs/fundo_celular.jpeg");
    }
}


@font-face {
    font-family: 'barosa regular';
    src: url('../fonts/Barosa Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Display';
    src: url('../fonts/Futura Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sauce Sans';
    src: url('../fonts/OpenSauceSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


