.title_parceiros{
    text-align: center;
    color: white;
    font-family: 'Futura Display', sans-serif;
    letter-spacing: 2px;
    font-size: 80px;

    animation: aparicao 1s forwards;
}

.main_parceiros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.section_parceiros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.parceiros{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.anjos{
    width: 300px;
    height: 300px;
    animation: aparicao 1s forwards;
}

.lasanha{
    animation: aparicao 1s forwards;
}

/* responsividade para computador grande */

/* responsividade para celular */

@media screen and (max-width: 600px){

    .title_parceiros{
        margin: 30px;
        font-size: 40px;
    }

    .main_parceiros{
        height: auto;
    }

    .section_parceiros{
        flex-direction: column;
    }

    .lasanha{ 
        width: auto;
        height: 300px;
    }

    .anjos {
        width: auto;
        height: 200px;
        margin-top: -150px;
    }

    .lasanha, .anjos, .title_parceiros{
        animation: celular 1s forwards;
    }
    
}