.title_portfolio{
    text-align: center;
    color: white;
    font-family: 'Futura Display', sans-serif;
    letter-spacing: 1px;
    font-size: 60px;
    margin-bottom: 50px;
}

.main_portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.section_portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}   

.portfolio_cars{
    display: flex;
    flex-flow: column wrap;
    color: black;
    font-size: 30.3px;
    letter-spacing: 1px;
    font-family: 'Futura Display', sans-serif;
    align-items: center;
    margin-bottom: 20px;
    
}

.portfolio_cars img{
    width: 200px; 
    height: 300px;
}

.portfolio_cars div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: white;
}

.mocadoo{
    width: 200px; 
    height: 300px; 
    background-color: white; 
    border-radius: 20px;
}

/* responsividade para computador grande  */
@media screen and (min-width: 1650px){
    .portfolio_cars > img, .portfolio_cars > .mocadoo{
        width: 300px; 
        height: 400px;
    }

    .title_portfolio{
        font-size: 80px
    }
}

/* responsividade para celular */
@media screen and (max-width: 600px) {

    .title_portfolio{
        font-size: 40px;
        margin: 30px;
    }

    .portfolio_cars img, .mocadoo{
        width: 130px; 
        height: 230px;
    } 

    .main_portfolio{
        height: auto;
    }
}
