.title_servico{
    text-align: center;
    color: #fff;
    font-size: 60px;
    letter-spacing: 1px;
    font-family: 'Futura Display', sans-serif;
}

.container_servico div p{
    font-size: 31.5px;
    width: 81px;
    color: black;
    font-weight: bold;
    font-family: 'Futura Display', sans-serif;
    letter-spacing: 1px;
}

.container_video div p{
    font-size: 31.5px;
    width: 81px;
    color: black;
    font-weight: bold;
    font-family: 'Futura Display', sans-serif;
    letter-spacing: 1px;
}

.main_container div{
    border-radius: 20px;
    margin: 0px 20px;
    background-color: white;
}

img {
    height: 550px; 
    border-radius: 30px;
    margin-bottom: 30px;
}

.mocado{
    height: 550px; 
    width: 333px;
    background-color: white;
    border-radius: 30px;
}

.main_container{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container_servico{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.container_servico div{ 
    display: flex;
    justify-content: center;    
    align-items: center;
    border: 2px solid white;
    height: 161px;
    width: 150px;
}

.container_video{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.container_video div{
    display: flex;
    justify-content: center;    
    align-items: center;
    border: 2px solid white;
    height: 161px;
    width: 150px;   
}


@media screen and (max-width: 600px) {
    .main_container {
        flex-flow: column;
    }

    img {
        margin-left: 10px;
        height: auto; /* Ajuste a altura automaticamente */
        width: 50%; /* Faça as imagens ocuparem toda a largura disponível */
        border-radius: 20px;
        margin-bottom: 15px; /* Reduza o espaçamento entre as imagens */

    }

    .container_servico div,
    .container_video div{
        height: auto; /* Ajuste a altura automaticamente */
        width: 30%; /* Faça as divs ocuparem 90% da largura disponível */
        max-width: 250px; /* Defina uma largura máxima */
        margin: 0 auto; /* Centralize as divs horizontalmente */
    }

    .container_video{
        width: 100%;
    }

    .mocado{
        margin-right: 10px;
        height: 300px; /* Ajuste a altura automaticamente */
        width: 50%; /* Faça as imagens ocuparem toda a largura disponível */
        border-radius: 20px;
        margin-bottom: 15px; /* Reduza o espaçamento entre as imagens */
    }

    
}